---
layout: default
---

{% assign lang = page.lang | default: site.lang | default: "fr" %}
{% include hero.html title=page.summary %}
<section class="section-grey">
  <div class="container article__container">
    {% for post in site.posts %}
      <article class="article article__preview panel">
        {% if post.authors %}
          {% for author in post.authors %}
            <div class="article__author">
              {% if author.avatar %}
                <img src="{{ post.author.avatar }}" />
              {% endif %}
              <span class="article__author-name">{{ author }}</span>
            </div>
          {% endfor %}
        {% endif %}
        <a class="article__link" href="{{ post.url }}" title="{{ post.title }}">
          <h2 class="article__title">{{ post.title }}</h2>
        </a>
        <div class="article__meta">Paru le <time>{{ post.date | date_to_long_string }}</time> dans

          {% assign sortedCategories = post.categories | sort %}{% for category in sortedCategories %}<a href="/categorie/{{ category }}">{{ category }}</a> {% endfor %}</div>

        {% if post.image %}
        <div class="article__thumbnail">
          <img src="{{ post.image }}" alt="" />
        </div>
        {% endif %}
        <div class="richtext">
          <p>{{ post.excerpt }}</p>
        </div>
        <a class="article__more" href="{{ post.url }}">Lire la suite…</a>
      </article>
    {% endfor %}
  </div>
</section>
