---
layout: default
---

{% assign lang = page.lang | default: site.lang | default: "fr" %}
{% include hero.html title=page.summary %}
<section class="section section-grey">
  <div class="container article__container">
    {% for post in site.posts %}
      <article class="article article__preview panel">
        {% if post.authors %}
          {% for authors in post.authors %}
          {% capture target %}/authors/{{ authors }}{% endcapture %}
          {% assign author = site.authors | where: "id", target | first %}
            <div class="article__author">
              {% include avatar.html author=author force=true %}
              <span class="article__author-name">{{ author.fullname }}</span>
            </div>
          {% endfor %}
        {% endif %}
        <a class="article__link" href="{{ post.url }}" title="{{ post.title }}" id="{{ post.id }}" >
          <h2 class="article__title">{{ post.title }}</h2>
        </a>
        <div class="article__meta">Paru le <time>{% include date.html date=post.date %}</time> dans {% assign sortedCategories = post.categories | sort %}{% for categories in sortedCategories %}<a href="/categorie/{{ categories }}">{{ site.data.category[categories].shortname }}</a> {% endfor %}</div>
        {% if post.image %}
        <div class="article__thumbnail">
          <img src="{{ post.image }}" alt="" />
        </div>
        {% endif %}
        <div class="richtext">
          <p>{{ post.excerpt | markdownify }}</p>
        </div>
        <a class="article__more" href="{{ post.url }}">Lire la suite…</a>
      </article>
    {% endfor %}
  </div>
</section>
