---
layout: default
---

{% assign lang = page.lang | default: site.lang | default: "fr" %}
<div class="page article">
  {% include hero.html title=page.title %}
  <section class="section section-white">
    <div class="newsletter">
      <h2>Inscrivez-vous à la newsletter de beta.gouv.fr</h2>
      <div class="container">
        <div class="form__container">
          <form method="post" action="https://app.mailjet.com/widget/iframe/1O2v/9ud" id="newsletter">
            <div class="form__group">
              <label for="subscribe-email" class="title" aria-label="Renseignez votre adresse e-mail pour recevoir nos annonces">En renseignant votre adresse mail, vous recevrez régulièrement nos actualités. Vous pourrez à tout moment vous désinscrire de nos envois :</label>
              <input required="" type="email" autocomplete="on" id="subscribe-email" name="w-field-field-36469-172104-430683-email" placeholder="votre@email.fr" />
            </div>
            <button class="button" type="submit" name="subscribe" id="form-submit">Je m'inscris à la newsletter de beta.gouv.fr</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <h3>Retrouvez les anciennes Newsletters</h3>
      <ul>
      {% assign sorted = site.newsletters | sort: 'date' | reverse %}
      {% for item in sorted %}
        <li><a href="{{ item.target }}">Newsletter du {% include date.html date=item.date %}</a>{% if item.focus %} avec un focus sur {{ item.focus }}{% endif %}</li>
      {% endfor %}
      </ul>
    </div>
  </section>
</div>
