---
layout: default
---

<section class="article article__full">
  {% include hero.html title=page.title date=page.date image=page.image categories=page.categories %}
  <div class="article__content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="article__container">
      <div class="richtext" itemprop="articleBody">
        {{ page.excerpt }}
        {{ content | remove: page.excerpt }}
      </div>
    </div>
    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}
  </div>
</section>

<div class="notification full-width">
    <h3>Dans la même catégorie</h3>
    <ul style="list-style:none; padding:0">
    {% assign firstCategory = page.categories | first %}
    {% assign relatedCount = 0 %}
    {% for related in site.categories[firstCategory] %}
        {% unless page.url == related.url %}
            {% assign relatedCount = relatedCount | plus: 1 %}
            <li><a href="{{related.url}}">{{ related.title }}</a></li>
        {% endunless %}
        {% if relatedCount == 3 %}
            {% break %}
        {% endif %}
    {% endfor %}
  </ul>
</div>
